*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    min-width: 500px;
    min-height: 300px;
    border: 1px solid #000;
}
.img-div{
    min-height: 200px;
    margin-bottom: 1em;
    border-bottom: 1px solid #000;
    /* display: none; */
}
input{
    margin: .2em .8em .5em;
    display: block;
}
label{
    margin: .2em .8em;
}